<div class="msg-alert">
    {{#if errors}}
    {{#each errors}}
    <div class="msg-error">{{this.msg}}</div>
    {{/each}}
    {{/if}}

    {{#if success_msg}}
    <div class="msg-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="msg-error">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="msg-error">{{error}}</div>
    {{/if}}

</div>