<nav id="nav-desktop">
    <div id="logo"><a href="/"><img src="img/logo-trendstorm.png"></a></div>
    {{#if user}}
    <div class="box-nav-login">
        <a id="menu-login">
            <div class="thumb-menu">
                {{user.username}}
                <img id="thumbnail" src="{{user.thumbnail}}">
            </div>
        </a>
        <div id="nav-login">
            <a href="/dashboard">
                Meus Painéis
            </a>
            <a href="#">
                Dúvidas?
            </a>
            <a href="/logout">
                Sair
            </a>
        </div>
    </div>
    {{else}}
    <ul>
        <a href="#">
            <li>Como funciona?</li>
        </a>
        <a href="/signin">
            <li>Cadastrar</li>
        </a>
        <a href="/login">
            <li>Entrar</li>
        </a>
    </ul>
    {{/if}}
</nav>