<div class="box-form-popup">
    <form method="POST" action="/panel">
        <input name="panelName" placeholder="Nome do seu Painel">
        <input name="keyword" placeholder="Palavras-chave">
        <input name="startTime" type="date" placeholder="Data inicial">
        <input name="endTime" type="date" placeholder="Data final">
        <button type="submit">Criar</button>
        <a id="close-popup">Cancelar</a>
    </form>
</div>