<section class="section-one">
   <div class="left">
      <h2>Seu próximo grande negócio está te esperando.</h2>
      <p>A trendstorm é a melhor plataforma de analise de tendências de mercado para você conceber seu futuro negocio
         com
         firmeza.
      </p>
      <h3>Dê fundamento ao seu instinto empreendedor!</h3>
   </div>
   <div class="rigth">
      <img src="img/Man-holding-iPhone-X.png">
   </div>
</section>

<section class="section-two">
   <div class="chart">
      <ul>
         <li>
            <div class="step">1</div>
            <p>Procure produtos por categoria e palavra-chave</p>
         </li>
         <li>
            <div class="step">2</div>
            <p>Obtenha insights do mercado sobre sua ideia</p>
         </li>
         <li>
            <div class="step">3</div>
            <p>Salve suas pesquisas preferidas</p>
         </li>
         <li>
            <div class="step">4</div>
            <p>Compare diferentes ideias para escolher a melhor</p>
         </li>
         <li>
            <div class="step">5</div>
            <p>Lance seu negocio com confiança</p>
         </li>
      </ul>
   </div>
</section>

<section class="section-three">
   <div class="title">Benefícios</div>
   <div class="content">
      <div class="content-box">
         <h2>Insights Relevantes</h2>
         <p>
            Fazemos todo o trabalho chato para facilitar sua analise, trazendo a visao mais completa e lisivel que a net
            oferece
         </p>
      </div>
      <div class="content-box">
         <h2>Insights de Ponta</h2>
         <p>
            Cruzamos dados de fontes referências no mercado garantindo informaçao da mais alta qualidade
         </p>
      </div>
      <div class="content-box">
         <h2>Insights Frescos</h2>
         <p>
            Os seus paineis de analise se atualizam in real time via API para mostrar o contexto no momento exato da sua
            pesquisa
         </p>
      </div>
   </div>
</section>

<section class="section-four">
   <div class="title">Nossos clientes</div>
   <div class="clients">
      <ul>
         <li><p>Padoca do Fredoca</p></li>
         <li><p>Wil Yukuleles</p></li>
         <li><p>Laboratorio do Dr. Coe</p></li>
      </ul>
   </div>
</section>

<footer>
   <p>trendstorm © 2019 - Todos os direitos reservados</p>
</footer>