<section class="section-one">
   <div class="left">
      <h2>Seu próximo grande negócio está te esperando.</h2>
      <p>A trendstorm é a melhor plataforma de analise de tendências de mercado para você conceber seu futuro negocio
         com
         firmeza.
      </p>
      <h3>Dê fundamento ao seu instinto empreendedor!</h3>
   </div>
   <div class="rigth">
      <img>
   </div>
</section>

<section class="section-two">
   <div class="chart">
      <ul>
         <li>1. Procure produtos por categoria e palavra-chave</li>
         <li>2. Obtenha insights do mercado sobre sua ideia</li>
         <li>3. Salve suas pesquisas preferidas</li>
         <li>4. Compare diferentes ideias para escolher a melhor</li>
         <li>5. Lance seu negocio com confiança</li>
      </ul>
   </div>
</section>

<section class="section-three">
   <div>Benefícios</div>
   <div>
      <h2>INSIGHTS RELEVANTES</h2>
      <p>
         Fazemos todo o trabalho chato para facilitar sua analise, trazendo a visao mais completa e lisivel que a net
         oferece
      </p>
   </div>
</section>

<section class="section-four">
   <div>
      <h2>INSIGHTS DE PONTA</h2>
      <p>
         Cruzamos dados de fontes referências no mercado garantindo informaçao da mais alta qualidade
      </p>
   </div>
</section>

<section class="section-five">
   <div>
      <h2>INSIGHTS FRESCOS</h2>
      <p>
         Os seus paineis de analise se atualizam in real time via API para mostrar o contexto no momento exato da sua
         pesquisa
      </p>
   </div>
</section>

<section class="section-six">
   <div>
      <h2>Nossos clientes</h2>
      <ul>
         <li>Padoca do Fredoca</li>
         <li>Wil Yukuleles</li>
         <li>Laboratorio do Dr. Coe</li>
      </ul>
   </div>
</section>