<div>
    <canvas id="myChart"></canvas>
</div>

<div id="panelName">{{ panelName }}</div>
<div id="keyword">{{ keyword }}</div>
<div id="startTime">{{ startTime }}</div>
<div id="endTime">{{ endTime }}</div>

<a href="/dashboard">Voltar aos Meus Painéis</a>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/js/chart-google.js"></script>