<div>
    <form method="POST" action="/auth/local">
        <label for="name">Nome:</label><input name="name" type="text">
        <label for="email">E-mail:</label><input name="email" type="email">
        <label for="password">Senha:</label><input name="password" type="password">
        <button type="submit">Cadastrar</button>
    </form>
    <a href="/auth/google">Login with Google</a>
</div>