@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400');

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
}

body {
    background-image: linear-gradient(to bottom right, #111111, #333333);
    background-attachment: fixed;
}

main {
    padding-top: 100px;
    height: 80%;
}

footer {
    width: 100%;
    height: 40px;
    background: #000000;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 3;
}

#nav-desktop {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-mobile {
    display: none;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    margin-right: 10px;
    background-image: linear-gradient(to bottom right, #222222, #444444);
    padding: 10px;
    border-radius: 10px;
}

nav ul li:hover, .cadastrar-btn button:hover {
    background-image: linear-gradient(to bottom right, #444444, #555555);
    color: #eeeeee;
}

.box-nav-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-login {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100px;
    border-radius: 0  0 30px 30px;
    padding: 40px 20px 10px 20px;
    background: #111111;
    position: absolute;
    margin-top: 10px;
    z-index: 10;
}

#nav-login a {
    width: 100%;
    background: #111111;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

#nav-login a:hover {
    background-color: #333333;
}

#nav-login a:last-child:hover {
    background-color: #ab2929;
}

#logo {
    width: 20%;
}

#logo img {
    width: 100%;
}

#thumbnail {
    width: 40px;
    height: 40px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-left: 10px;
}

#menu-login {
    z-index: 12;
}

.thumb-menu {
    display: flex;
    align-items: center;
    background-color: #111111;
    padding: 5px 5px 5px 10px;
    border-radius: 30px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FORM */

.msg-alert {
    text-align: center;
    margin-bottom: 10px;
}

.msg-error {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(107, 34, 34);
    background-color: rgb(224, 137, 137);
    color: rgb(100, 9, 9);
}

.msg-success {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(34, 107, 56);
    background-color: rgb(163, 230, 161);
    color: rgb(9, 100, 9);
}

.box-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px; 
}

.form-signin {
    display: flex;
}

.form-signin-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-signin-list li {
    margin-bottom: 15px;
}

.form-signin-list li label {
    padding-right: 10px;
}

.form-signin-list li input {
    border: none;
    border-radius: 10px;
}

.form-signin-list li input {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    width:220px;
}

.cadastrar-btn {
    display: flex;
    justify-content: flex-end;
}

.cadastrar-btn button {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border:none;
    background-image: linear-gradient(to bottom right, #222222, #555555);
    color: white;
    text-transform: uppercase;
}

.line {
    height: 1px;
    width: 40%;
    background-color: #cccccc;
}

.ou-line {
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #cccccc
}

.google-btn {
    display: flex;
    justify-content: center;
}

/* DASHBOARD */

#btn-add-panel {
    padding: 20px;
    border: 1px #444444 dashed;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #555555;
    margin: 10px 10px 0 0;
}

#btn-add-panel:hover {
    border: 1px #777777 dashed;
    color: #777777;
    cursor: pointer;
}

#btn-add-panel h1 {
    font-size: 3rem;
}

#btn-add-panel p {
    text-transform: uppercase;
    font-size: .8rem;
}

.box-dashboard {
    width: 100%;
    height: 85%;
    display: inline-block;
    position: absolute;
}

.box-panels {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-head-panels {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px #666666 solid;
    margin-bottom: 10px;
}

.box-head-panels h2 {
    text-transform: uppercase;
    margin-left: 15px;
}

.btn-compare-panel {
    padding: 15px;
    width: 200px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    background: #571c1c;
    color: #eeeeee;
    cursor: pointer;
}

.btn-compare-panel:hover {
    background: #ab2929;
}

.btn-compare-panel-inactive {
    padding: 15px;
    width: 200px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    background: #333333;
    cursor: default;
}

/* POPUP */

#popup {
    width: 100%;
    height: 85%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 35px;
}

.box-form-popup {
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: fixed;
}

.box-form-popup-head {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.box-form-popup-body {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-form-popup form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.box-form-popup form input {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    width:220px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
}

.box-form-popup form button {
    font-family: 'Titillium Web', sans-serif;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background: #555555;
    color: #ffffff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#close-popup {

}


/* PANEL-THUMB */

.panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-box {
    width: 150px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #222222, #555555);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 10px 0 0;
    border-radius: 15px;
}

.panel-box:hover {
    background-image: linear-gradient(to bottom right, #333333, #555555);    
}

.panel-btns {
    height: 20%;
    width: 100%;
    display: flex;
}

.read-panel-btn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 0 0 0 15px;
}

.read-panel-btn:hover {
    background-color: #444444
}

.delete-panel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background: #222222;
    border-radius: 0 0 15px 0;
}

.delete-panel-btn:hover {
    background: #ab2929;
}

.select-panel {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
}

.select-panel-btn {
    width: 20%;
    height: 100%;
    background: #777777;
    border-radius: 0 15px 0 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.select-panel-btn input {
    cursor: pointer;    
}
.panel-info ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}

.panel-info ul li:first-child {
    background: #27424e;
}


/* CHART-JS */

.chart-js {
    padding: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.box-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.box-btn:first-child {
    background: #c44f69;
}

.box-btn:last-child {
    background: #557746;
}

.panel-name {
    margin: 5px 15px 15px 15px;
    background: #27424e;
    text-transform: uppercase;

}

.panel-keyword {
    margin: 5px 15px 15px 15px;
    background: #333333;
}

.panel-keyword p {
    margin-right: 5px;
}

.panel-time {
    margin: 5px 15px 15px 15px;
    background: #333333;
}

.panel-time p {
    margin-right: 5px;
}

.panel-time-box {
    display: flex;
    justify-content: center;
}

.menu-bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
}

.btn-edit-bottom {
    background: #27424e;
    margin: 5px;
}

.btn-edit-bottom:hover {
    background: #295c72;
}

.btn-back-bottom {
    background: #333333;
    margin: 5px;
}

.btn-back-bottom:hover {
    background: #555555;

}

.btn-delete-bottom {
    background: #571c1c;
    margin: 5px;
}

.btn-delete-bottom:hover {
    background: #ab2929;
}

.hiden {
    visibility: hidden;
}

.box-label-battle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-vs {
    margin: 15px;
}

.tutorial {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial p {
    padding: 10px 20px 10px 20px;
    background: rgb(78, 117, 158);
    color: #c1dbff;
    border-radius: 15px;
    border: 2px solid #1c4b8e;
    text-align: center;
    margin: 20px;
}